/* 红包 */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
input{ font-size:1em;}
a{ text-decoration:none; color:#000;}
a:hover{color:#c00; text-decoration:none;}
.clear{clear:both;}

.popBox3{
background-color:#FFFFFF;
margin:0 auto;
width:70%;
position:absolute;
height:5rem;
border:1px solid #FFBE04;
padding:1rem .6rem;
border-radius:8px;
z-index:3;
left:9%;
display:none;}
.popBox3 h3{
font-size:.8rem;
color:#999;

font-family:Arial, Helvetica, sans-serif}
.popBox3+h3{
text-align: center;
color: rgb(255, 255, 255);
font-size: 1.5rem;
margin-top: 42px;
}
.redBg{color:#333; font-size:empx;font-family:"Microsoft YaHei";
background-image:url(images/guaguaka_bg.png);
background-size:cover;
overflow-x:hidden; position:relative}
.popBox3 p{
font-size:.8rem;
text-indent:2em;
color:#999;}
.popBox3 button{
border: 1px solid #FFBC03;
padding: 0px 6px;
border-radius: 3px;
color: #fff;
background-color: #FFBC03;
left: 23%;
width: 50%;
position: relative;
margin-top: .7rem;
cursor: pointer;
position: absolute;
bottom: 10px;
font-size: 1rem;}
#use{
color:#CA1518;
font-size:14px;
}
#use1{
color:#CA1518;}
/*logo*/
.top{
height:30px;
background-color:#BD2125;
line-height:18px;
}
.top a{
height:20px;
line-height:20px;
background-color:#ed2816;
font-size:13px;
padding:0px 2px;
border-radius:2px;
color:#fff;
cursor:pointer;
position:relative;
top:3px;
left:2px;
border:1px solid #ed2816;}
.top img{
height:17px;
margin-right:3px;
padding:0px;}
/* 大转盘样式 */
.banner{display:block;width:75%;margin:1em auto;}
.banner .turnplate{display:block;width:100%;position:relative;}
.banner .turnplate canvas.item{width:100%;}
.banner .turnplate img.pointer{position:absolute;width:31.5%;height:42.5%;left:34.6%;top:23%;}
.banner .name{
margin-top:1rem;
position:relative;}
.banner .name h3{
color:#fff;
font-family:Arial, Helvetica, sans-serif;
letter-spacing:1px;
font-size:1rem;
background-color:#FFBC03;
border:1px solid #FFBC03;
padding:3px 9px;
border-radius:3px;
-webkit-box-shadow:0 0 1em .2rem #FFBC03;  
-moz-box-shadow:0 0 1rem .2rem #FFBC03;  
box-shadow:0 0 1rem .2rem #FFBC03;
z-index:2;
width:80%;
margin: 0 auto;
text-align: center;}
.rule{
margin:1.5rem auto 0;
text-align:center;
height:1.6rem;
overflow:hidden;
}
.rule ul{
background: rgba(255,255,255,.1);
width:90%;
margin:0 auto;
border-radius:4px;}
.on{
display:block!important;}
.rule label{
color:#FFFFFF;
font-size:14px;
}
.rule li{
font-size:.6rem;
text-align:center;
padding:.3rem;
color:#fff;
display:none;

height:1rem;
}
.name_img{
position:absolute;
top:-1rem;
height:2.5rem;
left:-1rem;
transform:rotate(-45deg);
-ms-transform:rotate(-45deg); 	/* IE 9 */
-moz-transform:rotate(-45deg); 	/* Firefox */
-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
-o-transform:rotate(-45deg);
z-index:1;
}

.showUL{
-webkit-animation: showUL 0.7s;
-moz-animation: showUL 0.7s;
animation: showUL 0.7s;
display:block!important;
}

@-webkit-keyframes showUL {
  0% {
    transform:translate(0px,-5px);
    -webkit-transform:translate(0px,-5px); }
  45% {
    transform: translate(0px,-8px);
    -webkit-transform:translate(0px,-8px); }
  80% {
    transform: translate(0px,-10px);
    -webkit-tranform:translate(0px,-10px); }
  100% {
    transform:translate(0px,-20px);
    -webkit-transform:translate(0px,-20px); } }
@-moz-keyframes showUL {
  0% {
    transform: translate(0px,-5px);
    -webkit-transform:translate(0px,-5px); }
  45% {
    transform:translate(0px,-8px);
    -webkit-transform:translate(0px,-8px); }
  80% {
    transform: translate(0px,-10px);
    -webkit-tranform: translate(0px,-10px); }
  100% {
    transform: translate(0px,-20px);
    -webkit-transform:translate(0px,-20px); } }
@keyframes showUL {
  0% {
    transform: translate(0px,-5px);
    -webkit-transform:translate(0px,-5px);}
  45% {
    transform:translate(0px,-8px);
    -webkit-transform:translate(0px,-8px); }
  80% {
    transform:translate(0px,-10px);
    -webkit-tranform:translate(0px,-10px);}
  100% {
    transform:translate(0px,-20px);;
    -webkit-transform: translate(0px,-20px); } }

.hideAlert{
animation: hideAlert 0.2s;}
.showAlert{
-webkit-animation: showAlert 0.3s;
-moz-animation: showAlert 0.3s;
animation: showAlert 0.3s;
display:block!important;
}

@-webkit-keyframes showAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-moz-keyframes showAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes showAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-webkit-keyframes hideAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@-moz-keyframes hideAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@keyframes hideAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }



/*问卷调查*/

	.bgBody{
	padding:0;
	margin:0;
	}
	.bgBody h1{
	text-align:center;
	font-size:1.1rem;
	letter-spacing:2px;
	margin:0;
	padding:0;
	color:#fff;
	width:80%;
	margin-left:10%;
	margin-top:3rem;
	position:absolute;
	text-shadow:0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 4px #3966ff,0 0 5px #3966ff;
	}
	.img{
	width:100%;}
	.form{
	padding:0.3rem 0.5rem;
	border-radius:3px;
	background-color:#FFFFFF;
	color:#4A5456;
	box-shadow:0 0 8px #fff;}
	.form .title{
	font-size:0.9rem;
	margin-top:.4rem;
	margin-bottom:.8rem;}
	.form ul{
	list-style:none;
	padding-top:0.5rem;
	margin:0 0 10px 0;
	padding-left:1rem;
	border-top:1px solid #ccc;
	}
	.form li{
	margin:0 0;
	padding:0 0;
	margin-bottom:.4rem;
	font-size:0.8rem;
	cursor:pointer;
	border: 1px solid;
	padding: 0.1rem 0.4rem;
	height: 1.4rem;
	border-radius: 0.8rem;
	width: 90%;
	display: inline-block;
	line-height: 1.4rem;
	text-decoration:none;
	color:#828282;
	}
	.textColor{
	color:#3966ff!important;}
	.btnDiv{
	margin:0 auto;
	text-align:center;}
	#btn{
	border:1px solid #5af;
	color:#fff;
	padding:.1em .4em;
	font-size:.8em;
	border-radius:4px;
	background:#5af;
	width:90%;
	box-shadow:0 0 3px #fff;
	cursor:pointer;
	margin-bottom:20px;}
	.popBox{
	background-color:#FFFFFF;
	margin:0 auto;
	width:80%;
	position:fixed;
	top:35%;
	height:12%;
	margin-left:7%;
	border:1px solid #5AF;
	padding:.5rem .6rem;
	border-radius:8px;
	position:relative;
	padding-top:10%;
	z-index:3;}
	.popBox2{
	background-color:#FFFFFF;
	margin:0 auto;
	width:80%;
	position:fixed;
	top:150px;
	border:1px solid #5af;
	padding:.5rem .8rem;
	border-radius:8px;
	z-index:3;
	}
	.gray{
	width:100%;
	position:fixed;
	z-index:2;
	top:0;
	background: rgba(0,0,0,.7);}
	.popBox p{
	font-size:.8rem;
	text-indent:2em;
	color:#999;}
	.popBox button{
	border:1px solid #5AF;
	padding:0px 6px;
	border-radius:3px;
	color:#fff;
	width:46%;
	font-size:.8rem;
	background-color:#5AF;
	margin-top:.3rem;
	cursor:pointer;
	position:absolute;
	margin-top:10%;
	bottom:10px;
	right:5px;
	}
	#btn2{
	left:5px;}
	.showAlert{
-webkit-animation: showAlert 0.3s;
-moz-animation: showAlert 0.3s;
animation: showAlert 0.3s;
display:block!important;
}
.ball{
height: 0.4rem;
width: .4rem;
border: 2px solid;
margin-right: .2rem;
border-radius: 50%;
display: inline-block;
}
@-webkit-keyframes showAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-moz-keyframes showAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes showAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/*红包规则*/
.redRule_title{
text-align:center;
border-bottom:1px dashed #fff;
padding:.6rem;}
.redRule_title h3{
font-size:1.3rem;color:#FFFFFF; margin-top:70px; text-align:center
}
.redRule_title small{
color:#fff;
font-size:.9rem;}
.redRule_content{
padding:1rem 0;
color:#fff;
font-size:.74rem;}
.redRule_content li{
text-indent:2em;
margin-bottom:.6rem;}


/*里约奥约会*/
.rioHeader img{
width:100%;
margin-bottom:15px;
}
.rioPicture{
height:5rem;
width:30%;
display:inline-block;
cursor:pointer;
text-align:center;}
.rioPicture small{
color:#757575;
font-size:.7rem;
display:inline-block;
margin-top:.4rem;}
.rioPicture img{
margin:0 auto;
width:50%;
display:block;
margin-top:.7rem;}
.small{
color:#0ba!important;}
.rioFooter{
position:relative;
}
.rioFooter img,.rioPop img{
width:100%;
}
.rioPop{
position: fixed;
margin-top:-184%;
width:100%;
z-index:4;}
.rioPop h1{
position:absolute;
color:#E94935;
font-size:1.5rem;
}
.rioPop h1 small{
font-size:1.2rem;
padding:4px;}
.rioPop h1 span{
font-size:.6rem;
color:#FB953B;}
.rioPop button{
border:none;
background-color:transparent;
color:#FFFFFF;
width:40%;
color:#000000;
font-size:1.2rem;
position:absolute;
display:block;
left: 28%;
color: #fff;
cursor:pointer;}
.rioFooter_rule{
position:absolute;
font-size:.64rem;
text-indent:1em;
width:85%;
color:#888;
top:38%;
margin-left:6%;
}
.popAnimation
{
animation: myfirst 2s;
-moz-animation: myfirst 2s;	/* Firefox */
-webkit-animation: myfirst 2s;	/* Safari 和 Chrome */
-o-animation: myfirst 2s;	/* Opera */
}
@keyframes myfirst
{
0%   {margin-top: -20%;}
100% {margin-top:-184%;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {margin-top: -20%;}
100% {margin-top:-184%;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
0%   {margin-top: -20%;}
100% {margin-top:-184%;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {margin-top: -20%;}
100% {margin-top:-184%;}
}


/*刮刮卡*/
.scratchHeader{
width:100%;
background-image:url(images/scratchHeader.jpg);
background-repeat:no-repeat;
background-size:contain;}
.scratchHeader_btn{
margin:0 auto;
text-align:center;}
.scratchHeader_btn button{
padding:.1rem .5rem;
border-radius:4px;
font-size:.5rem;
color:#CE5D4A;
background-color:#FFDF6F;
border:1px solid #FFDF6F;
box-shadow:1px 3px 3px ;
}
.scratchHeader_btn button:last-child{
background-color:#55D658;
border-color:#55D658;
color:#007203;
}
.scratchRegion{
background-color:#1756A2;
text-align:center;
padding-bottom:1rem;
}
.scratchRegion h1{
color:#fff;
font-size:.8rem;
height:3rem;
line-height:3rem;
text-align:center;
}
.scratchRegion h1 span{
color:#FFBA00;
display:inline-block;
margin:0 4px;
font-size:1rem;
}
.scratchPicture{
width:100%;
height:9rem;
text-align:center;
margin-bottom:1rem;}
.scratchPicture img,.scratchPicture canvas{
width:55%;
left:22.5%;
border:2px dotted #fff;
position:absolute;
z-index:3;}
.scratchRegion h1 label{
display: inline-block;
font-size: .75rem;
margin: 0 .3rem;
cursor:pointer;
color: #5af;}
.scratchContent{
text-align:center;
font-size:1.4rem;
width:55%;
left:22.5%;
border:2px dotted #fff;
position:absolute;
z-index:2;
color:#fff;
background-color:#666666;}
.scratchAward{
font-size:.6rem;
color:#fff;
}
.scratchAward ul{
display:inline-block;
margin-left:.4rem;
padding:.3rem .2rem;
background-color:#1A60B5;
overflow:hidden;}
.scratchAward h3{
display:inline-block;
line-height:2.1rem;
height:2.1rem;
font-weight:400;
font-size:.65rem;
margin-left:8px;
position: relative;
top:-.45rem;}
.scratchAward ul li{
display:none;
position:relative;}
.scratchAward ul li.on{
display:block;}
.scratchAward ul span{
color:#FDE03C;}
.scratchRule{
padding:1rem 2rem;}
.scratchRule h3{
background-image:url(images/scratchBtn.png);
background-size:contain;
line-height:1.8rem;
height:1.8rem;
text-align:center;
width:5rem;
font-size:.75rem;
color:#875610;}
.scratchRule p{
font-size:.75rem;
text-indent:2em;
color:#875610;
margin:.8rem;
}
.scraAnimation
{
animation: myScratch 3s;
-moz-animation: myScratch 3s;	/* Firefox */
-webkit-animation: myScratch 3s;	/* Safari 和 Chrome */
-o-animation: myScratch 3s;	/* Opera */
}
@keyframes myScratch
{
0%   {top:1rem;}
100% {top:0;}
}

@-moz-keyframes myScratch /* Firefox */
{
0%   {top:1rem;}
100% {top:0;}
}

@-webkit-keyframes myScratch /* Safari 和 Chrome */
{
0%   {top:1rem;}
100% {top:0;}
}

@-o-keyframes myScratch /* Opera */
{
0%   {top:1rem;}
100% {top:0;}
}